.home-container {
    animation-name: born;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes born {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1;}
}

.home-title {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    animation-name: showTitleLine;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes showTitleLine {
    0% { width: 40%; opacity: 0.5; }
    100% { width: 100%; opacity: 1; }
}

.title-description {
    margin-bottom: 5rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title-description a {
    text-decoration: none;
    color: rgb(56, 136, 255);
    transition: 0.5s ease;
}

.title-description a:hover {
    color: rgb(122, 175, 255);
    transition: 0.5s ease;
}

.carousel-box {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-box img {
    height: 600px;
}

@media (min-width: 700px) {
    .carousel-box {
        width: 60%;
        height: 700px;
    }
    .carousel-box img {
        height: 700px;
    }
}

@media (min-width: 1000px) {
    .carousel-box {
        width: 40%;
        height: 800px;
    }
    .carousel-box img {
        height: 800px;
    }
}

.most-watched-section {
    animation-name: born;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.most-watched-title {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: rgb(114, 59, 59);
}

.carousel-title,
.carousel-paragraph {
    color: rgb(114, 59, 59);
}

@media (min-width: 600px) {
    .most-watched-section {
        text-align: center;
    }
}

@media (min-width: 600px) {
    .most-watched-article {
        display: inline-block;
        padding: 5rem;
    }
}

.card-box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-top: 2px solid rgb(114, 59, 59);
    border-left: 2px solid rgb(114, 59, 59);
    margin-bottom: 5rem;
}

@media (min-width: 600px) {
    .card-box {
        width: 100%;
    }
}

.card-box img {
    border-radius: 20px;
    width: 10rem;
    height: 15rem;
}

.card-box h2 {
    font-size: 15px;
    text-align: center;
}

.card-box button {
    width: 100%;
    border-radius: 20px;
    background-color: rgb(114, 59, 59);
    color: white;
    border: 2px solid rgb(114, 59, 59);
    transition: 0.5s ease;
}

.card-box button a {
    text-decoration: none;
    color: white;
}

.card-box button:hover {
    background-color: white;
    border: 2px solid rgb(114, 59, 59);
    transition: 0.5s ease;
}

.card-box button:hover a {
    color: rgb(114, 59, 59);
    transition: 0.5s ease;
}