<div class="home-container">
    <h1 class='home-title'>Movies Factory</h1>
    <p class='title-description'>Movie Factory is one of the most popular web application out there. We have try to deliver the best quality possible. Here you can find various of movies, you can save them for later or even watch the trailer. All you need to is to do if you don't have an account is to <a routerLink="/register">Sign Up</a>. Go ahead it's easy, in just few clicks. </p>
    <section class='most-watched-section'>
        <h2 class='most-watched-title'>Most watched</h2>

            <ng-container *ngIf="parfumeList">
                <article *ngFor="let parfume of parfumeList" class='most-watched-article' >
                    <div class="card-box">
                        <img src={{parfume.imageUrl}} alt={{parfume.title}} />
                        <h2>{{parfume.title}}</h2>
                        <button><a routerLink='/details/{{parfume._id}}'>Details</a></button>
                    </div>
                </article>
            </ng-container>
            <ng-container *ngIf="!parfumeList">                
                <div class="not-found">
                    <h2>Nothing found.</h2>
                </div>
            </ng-container>
        
    </section>
</div>