<div class="form-container">
    <form class="form">
        <h2 class="form-title">Register</h2>

        <label class="labels" for="username">Username:</label>
        <input
            class="inputs"
            type="text"
            id="username"
            name="username"
        />

        <label class="labels" for="password">Password:</label>
        <input
            class="inputs"
            type="password"
            id="password"
            name="password"
        />

        <label class="labels" for="confirmPassword">Confirm Password:</label>
        <input
            class="inputs"
            type="password"
            id="confirmPassword"
            name="confirmPassword"
        />

        <input class="form-button" type="submit" value="Submit" />

        <p class="have-acc">You have an account? <a routerLink='/login'>Login</a></p>
    </form>
</div>