<header class='header-container'>
    <nav class='nav-container'>
        <ul class='nav-ul'>

                <!-- if user -->
                    <p class='welcome-user'>Welcome, email...! </p>

                    <a routerLink="/">Home</a>
                    <a routerLink="/catalog">Movies</a>
                    <a routerLink="/search">Search</a>
                <!-- if user -->
                    <a routerLink="/profile">Profile</a>
                    <a routerLink="/create">Create</a>
                    <a routerLink="/logout">Logout</a>
                <!-- if not user -->
                    <a routerLink="/register">Register</a>
                    <a routerLink="/login">Login</a>
        </ul>
    </nav>
</header>